/*
 * Globals
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

*{
  font-family: 'Open Sans', sans-serif;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

.lead{
  margin-top: 40px;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 50px !important;
  font-weight: normal !important;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.section {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background: #EDEDED;
}

.alt-nav{
  background: #F4F4F4;
  border-bottom: 1px solid #ddd;
}

.alt-nav .masthead-brand{
  margin-top: 10px;
  margin-bottom: 10px;
}

.alt-nav .inner{
  padding: 0 60px;
}

.alt-nav .masthead-brand img{
  height: 40px;
}

.alt-nav ul{
  font-size: 1.3em;
  margin-top: 10px;
}

.alt-nav ul > li > a{
  color: #2C3E50;
  border-bottom: 5px solid rgba(0,0,0,0);
}

.alt-nav ul > li.active > a{
  color: #34495E;
  border-color: initial;
}



#home{
  background-image: url(../media/images/bg.jpg);
  background-size: 100% 100%;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}


.section-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 10px 60px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav{
  margin-top: 20px;
  font-size: 1.5em;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 30px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.80);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

.social{
  font-size: 30px;
}

.social a{
  margin-left: 10px;
  text-decoration: none;
}



/*
 * Affix and center
 */

@media (min-width: 768px) {

  /* Pull out the header and footer */
  .masthead {
    position: static;
    display: table-header-group;
  }

  .mastfoot {
    position: static;
    bottom: 0;
    display: table-footer-group;
  }
  /* Start the vertical centering */
  .section-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 85%;
  }
}
